:root {
  --bg-color: #030014;
  --text-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  color: var(--text-color);
}
html {
  font-size: 62.5%;
  margin: 0 auto;
}
body {
  background-color: var(--bg-color);
}

.pattern {
  position: absolute;
  z-index: 0;
  height: 100vh;
  width: 99vw;
  background-image: url("images/hero-bg.png");
  background-size: cover;
  background-position: center;
}

.wrapper {
  position: relative;
  z-index: 10;

  max-width: 80rem;
  display: flex;

  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-inline: auto;
  padding-inline: 7rem;
  padding-block: 3rem;
}

.movies {
  font-weight: 800;
  color: transparent;
  background-image: linear-gradient(90deg, #d6c7ff, #ab8bff);
  background-clip: text;
}

h1 {
  font-size: 6rem;
}
.search {
  padding: 2rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-inline: auto;

  display: flex;
  outline-style: none;
}
.search-icon {
  display: flex;
  align-items: center;
  position: relative;
}
.search input {
  width: 100%;
  padding: 1.5rem 2rem;
  background-color: rgba(0, 0, 0, 0);
  display: inline;
  outline-style: none;
  background-color: transparent;
  color: oklch(0.928 0.006 264.531);
  border: 0;
  padding: 2rem 2rem;
  font-size: 2rem;
  line-height: 1.5;
}
.trending {
}
.trending h2,
.all-movies h2 {
  font-size: 4rem;
  line-height: 2;
  color: #fff;
  font-weight: 700;
}

.trending ul {
  display: flex;
  gap: 2rem;
  overflow-y: auto;
  scrollbar-width: none;
  flex-direction: row;
  width: 100%;
}

.trending li {
  display: flex;
  min-width: 18rem;
  align-items: center;
}

.trending img {
  height: 16rem;
  width: 12rem;
  object-fit: cover;
  border-radius: 0.5rem;
  margin-left: -2rem;
}

.trending p {
  font-size: 19rem;
  -webkit-text-stroke: 5px rgba(206, 206, 251, 0.5);
  text-wrap: nowrap;
  color: transparent;
}

.all-movies {
  margin-top: 10rem;
}

.all-movies h2 {
  text-align: center;
}

.all-movies ul {
  margin: 0 auto;
  max-width: 113rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  justify-items: center;
  align-items: center;
}

.movie-card {
  border-radius: 1rem;
  background-color: #0f0d23;
  padding: 1.75rem;
}

.movie-card img {
  height: auto;
  width: 100%;
  align-self: center;
  border-radius: 0.5rem;
}

.movie-card-content {
  margin-top: 1rem;
}
.movie-card-content h3 {
  text-align: center;
  font-size: 2rem;
  line-height: 1.5;
}

.content {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.rating {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.rating p {
  font-size: 1.75rem;
  line-height: 1.5;
  gap: 0.5rem;
}

content span {
  font-size: 1.2rem;
  color: #9ca4ab;
}

.lang,
.year {
  font-size: 1.7rem;
  font-weight: 600;
  text-transform: capitalize;
  color: #9ca4ab;
}

@media screen and (max-width: 428px) {
  .all-movies ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .search {
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .search input {
    width: 90%;
    font-size: 1.5rem;
  }
  .trending {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .all-movies ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .all-movies ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .trending {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .all-movies ul {
    grid-template-columns: repeat(1, 1fr);
  }

  .search {
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .search input {
    width: 90%;
    font-size: 1.5rem;
  }

  .trending {
    width: 100%;
  }
}

/* @media screen and (max-width: 1024px) {
  .all-movies ul {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media screen and (max-width: 768px) {
  .all-movies ul {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .trending {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .all-movies ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
} */
