.board {
  display: flex;
  gap: 30px;
  padding: 20px;
}

.column {
  background-color: #f4f5f7;
  min-width:250px;
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  
}

.column-header {
  font-weight: bold;
  background-color: #e2e4e9;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 10px;
  font-size: 24px;
  text-align: center;
}

.task {
  background-color: white;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.2s;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12);
}

.task:hover {
  transform: translateX(-2px);
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  background-color: rgb(240, 216, 216);
  transition: background-color 0.5s ease-in;
}

.open {
  border-left: 2px solid #f06464;
}

.inprogress {
  border-left: 2px solid #ffc107;
}

.completed {
  border-left: 2px solid #4caf50;
}

.add-task {
  padding: 20px;
  font-size: 24px;
}

input {
  padding: 5px;
  width: 500px;
  height: 20px;
  font-size: 20px;
  border-radius: 5px;
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .board {
    flex-direction: column;
  }
  input {
    width: 60%;
  }
}